{% extends 'base.html.twig' %}

{% block title %}Personnel index{% endblock %}

{% block body %}
    <h1>Liste des {{ personnels|length }} salariés</h1>
    <h1>Liste des {{ nombre }} salariés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Poste</th>
                <th>adresse</th>
                <th>entreprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for p in personnels %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nom }}</td>
                <td>{{ p.prenom }}</td>
                <td>{{ p.poste }}</td>
                <td>{{ p.addresse }}</td>
                <td>
                    {{ p.entreprise }}
               </td>
                <td>
                    <a href="{{ path('personnel_show', {'id': p.id}) }}">show</a>
                    <a href="{{ path('personnel_edit', {'id': p.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnel_new') }}">Create new</a>
{% endblock %}
