{% extends 'base.html.twig' %}

{% block title %}Fiche de poste de {{ personnel.prenom }} {{ personnel.nom }}{% endblock %}

{% block body %}
    <h1>Personnel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personnel.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personnel.prenom }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ personnel.poste }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personnel_index') }}">back to list</a>

    <a href="{{ path('personnel_edit', {'id': personnel.id}) }}">edit</a>

    {{ include('personnel/_delete_form.html.twig') }}
{% endblock %}
